NUM_CPUS = $(DETECTED_CPUS)
MEMORY = $(DETECTED_MEMORY)
NUM_SLOTS = 1

# Type 1 is for the normal slots                                                                                                         
                                        
NUM_SLOTS_TYPE_1 = 1
SLOT_TYPE_1_PARTITIONABLE = TRUE
SLOT_TYPE_1 = cpus=$(NUM_CPUS), memory=$(MEMORY)

