#----------------------------------------------------------------------------
#
# Condor configuration for OSG Clusters
# For more detail please see
# http://www.cs.wisc.edu/condor/manual/v8.2/3_3Configuration.html

#
# The following should be your cluster domain. This is an arbitrary string used by Condor, not necessarily matching your IP domain
#
UID_DOMAIN = najah.edu

#
# Human readable name for your Condor pool
#
COLLECTOR_NAME = "Condor Cluster at $(UID_DOMAIN)"
COLLECTOR_HOST = htc-condor.najah.edu

#
# A shared file system (NFS), e.g. job dir is assumed if the name is the same
#
FILESYSTEM_DOMAIN = $(UID_DOMAIN)

#
# Here you have to use your network domain, or any comma separated 
# list of hostnames and IP addresses including all your condor hosts. 
# * can be used as wildcard
#
ALLOW_WRITE = *privnet, 192.168.*, 172.16.9.*,10.*

#
# The next four lines are needed for condor 8.4.8 that came with OSG 3.3
#
ALLOW_NEGOTIATOR = *.najah.edu, 192.168.*, 172.16.9.*, 10.*
ALLOW_NEGOTIATOR_SCHEDD = $(ALLOW_NEGOTIATOR)
HOSTALLOW_NEGOTIATOR_SCHEDD = $(HOSTALLOW_NEGOTIATOR_SCHEDD), $(HOSTALLOW_WRITE)
HOSTALLOW_WRITE = $(ALLOW_WRITE)

#
# The following should be the full name of the head node (Condor central manager)
#
CONDOR_HOST = 10.1.0.3

#
# Who can administer this Condor pool
#
CONDOR_ADMIN = root@$CONDOR_HOST

#
# A port range that Condor can use . Make sure these ports are open on the firewall
# This 9000-9999 is coherent with the iptables configuration in the Firewall documentation 
#
IN_HIGHPORT = 9999
IN_LOWPORT = 9000

# 
# This can be used to enforce password authentication
# This is different than user password authenication
#
# SEC_DAEMON_AUTHENTICATION = required
# SEC_DAEMON_AUTHENTICATION_METHODS = password
# SEC_CLIENT_AUTHENTICATION_METHODS = password,fs,gsi
# SEC_PASSWORD_FILE = /var/lib/condor/condor_credential
# ALLOW_DAEMON = condor_pool@*

#
#  Sets how often the condor_negotiator starts a negotiation cycle
#  It is defined in seconds
#
NEGOTIATOR_INTERVAL = 120

#
# Scheduling parameters for the startd
#
TRUST_UID_DOMAIN = TRUE

#
# start as available and do not suspend, preempt or kill
#
START = TRUE
SUSPEND = FALSE
PREEMPT = FALSE
KILL = FALSE

#
# In this setup we use the config directory instead of the local config
#
REQUIRE_LOCAL_CONFIG_FILE = False

#
# Defines the directory for the batch job to run
# It should be a large directory
#
EXECUTE = /tmp

#
# Make condor_q show all users jos
#
CONDOR_Q_ONLY_MY_JOBS = False
